<mat-tab-group>
	<mat-tab label="Epics">
		<app-epic></app-epic>
	</mat-tab>
	<mat-tab label="Rares">
		<app-rare (rareTargets)="prepareRares($event)"></app-rare>
	</mat-tab>
</mat-tab-group>


<br>
<h3> Results </h3>
<div class="jumbotron" *ngFor="let item of blueResult">
    <label [class]="item.color">  {{item.name}} ({{item.amount}}) </label>
    <div *ngFor="let ingredient of item.ingredients">
      <label [class]="ingredient.color">{{ingredient.name}} ({{ingredient.amount}}) </label>
    </div>
</div>