<div class="container">
  <br>
<form [formGroup]="raresForm" (ngSubmit)="getRareTargets()">
  <div formGroupName='rare1'>
	<mat-form-field class="col-6">
		<mat-label>
			Rare Items
		</mat-label>
		<mat-select formControlName="name">
			<mat-option *ngFor="let rare of rares" [value]="rare.name">
				{{rare.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="col-3">
        <mat-label>
     Amount
    </mat-label>
		<input formControlName="amount" class="amount-box" matInput type="number" min=1 max=10>
  </mat-form-field>
</div>
<div formGroupName='rare2'>
<mat-form-field class="col-6">
  <mat-label>
     Rare Items
    </mat-label>
     <mat-select formControlName="name">
    <mat-option *ngFor="let rare of rares" [value]="rare.name">
      {{rare.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
 <mat-form-field class="col-3">
    <mat-label>
     Amount
    </mat-label>
    	<input formControlName='amount' class="amount-box" matInput type="number" min=1 max=10>
  </mat-form-field>
</div>
<div formGroupName='rare3'>
<mat-form-field class="col-6">
  <mat-label>
      Rare Items
    </mat-label>
     <mat-select formControlName='name'>
    <mat-option *ngFor="let rare of rares" [value]="rare.name">
      {{rare.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
 <mat-form-field class="col-3">
       <mat-label>
     Amount
    </mat-label>
    	<input formControlName='amount' class="amount-box" matInput type="number" min=1 max=10>
  </mat-form-field>
  </div>
  <div class="col-2">
     <button type="submit" class="btn btn-success">Submit</button>
    </div>

 
  </form>
</div>