/* Add application styles & imports to this file! */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  padding:20px;
    font-size:medium;
}

.green{
 color: #28a745;

}

.white{

}

.blue{
  color: #007bff;
  font-size:large;
}
